
* {
--space: 8px;
--text-color: #14213d;
--bg-color: #edede9;
--parchment: #edede9ff;
--dust-grey: #d6ccc2ff;
--linen: #f5ebe0ff;
--powder-petal: #e3d5caff;
--almond-silk: #d5bdafff;
}

body {
background-image: url('./assets/wavy-css-pattern-by-magicpattern.png');
font-family: "Public Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
color: var(--text-color);
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
padding-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Urbanist", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
color: var(--text-color);
}



h1 {
    margin-bottom: var(--space); 
    text-shadow: 4px 4px var(--parchment);
    background-color: var(--almond-silk);

}

header h1,
.atAGlance h1,
.education h1,
footer h1 {
    padding-left: var(--space);
}

.title h3 {
    background-color: var(--parchment);
    padding: calc(var(--space) / 2) var(--space);
    font-size: 30px;
    margin: 0;
    display: inline-block;
}
header {
    background-color: var(--almond-silk); font-size: 38px; text-align: left;
}


.education ul {
    list-style: none;
    padding-left: 0;
}

.education li {
    position: relative;
    padding-left: calc(var(--space) * 3);
    margin-bottom: calc(var(--space) * 2);
}

.education li::before {
    content: "";
    position: absolute;

    left: -8px; /* move further left */
    top: 0.3em;

    width: 32px;   /* bigger */
    height: 32px;

    background-image: url('./assets/arrows.svg');
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0.9; /* slightly stronger */
}

.education li br + * {
    display: inline-block;
    padding-left: calc(var(--space) / 2);
}

.school {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--space) / 2);

    background-color: var(--parchment);
    padding: calc(var(--space) / 4) calc(var(--space) / 2);
    border-radius: 4px;

    font-size: calc(var(--space) * 3);
    margin-bottom: calc(var(--space) / 2);
    font-weight: 700;
}

.school .material-symbols-outlined {
    font-size: 18px;
}

.cards button h3 {
    font-size: calc(var(--space) * 3); 
    display: flex;
    align-items: center; /* vertical alignment */
    gap: calc(var(--space) / 2);
}

.cards button p {
    font-size: calc(var(--space) * 2);
}

/* Base button style */
.cards button {
    background-color: var(--linen);
    border: 2px solid var(--dust-grey);
    border-radius: 8px;
    padding: calc(var(--space) * 2);
}

/* Hover state */
.cards button:hover {
    background-color: var(--powder-petal);
    border-color: var(--almond-silk);
}

/* Optional: active (click) feedback */
.cards button:active {
    transform: translateY(0);
}

.material-symbols-outlined {
font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
font-size: 32px;
line-height: 1;
display: inline-block;
display: inline-flex;
align-items: center;
margin-bottom: 4px;
}
